body{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataInput{
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.titles{
  text-align: center;
}

.y-axis{
  border-top: solid black 1px;
  text-align: left;
  height: 100px;
}

.y-axis-text{
  text-align: right;
  padding-bottom: 0px;
  vertical-align: bottom;
  width: 50px;
}


#bottom {
    position:relative;
    bottom:0;
    left:0;
}
